body{
    background-color: gray;
    text-align: center;
}
p{
        font-family: Permanent Marker;
    }
    #red{
        font-family: Kalnia Glaze;
    }
    h2{
        font-family: Honk;
    }
    #yellow{
        font-family: Honk;
    }