
body{
    text-align: center;
    background-color: gray;
}
    #honk {
      font-family: honk;
    }
    #BungeeSpice {
      font-family: Bungee Spice;
    }
    #EmilysCandy {
      font-family: Emilys Candy;
    }
    #green{
      font-family: honk;
    }
