body{
    background-color: gray;
    text-align: center;
}
#red{
    text-align: left;
}
    p{
        font-family: honk;
      
       

    }
    h2{
        font-family: Bungee Spice;
    }
    h1{
        font-family: Permanent Marker;
    }
    #blue{
        font-family: honk;

}